<!DOCTYPE html>
<head></head>
<body>
	<div id="page">
		<form action="" method="post">
		{% csrf_token %}
			<div><label for="">loginId:</label><input type="text" id="loginId" name="loginId"></div>
			<div><label for="">password:</label><input type="password" id="password" name="password"></div>
			<div><label for="">initial money:$</label>
			<select name="ini_money" id="ini_money">
				<option value="1000">1,000</option>
				<option value="5000">5,000</option>
				<option value="10000">10,000</option>
				<option value="20000">20,000</option>
				<option value="40000">40,000</option>
				<option value="100000">100,000</option>
				<option value="1000000">1,000,000</option>
			</select>
			</div>
			<div><label for="">lever--1:</label>
					<select name="lever" id="lever">
					<option value="100">100</option>
					<option value="200">200</option>
					<option value="500">500</option>
				</select></div>
			<p><input type="submit" value="go"></p>
		</form>
	</div>

</body>